:root {
    --side: min(100vw, 100vh);
    --side_75: min(75vw, 75vh);
    --s_div_50: calc((var(--side)/100)*2);
    --s_div_100: calc(var(--side)/100);
    --s_div_12: calc((var(--side)/100)*12);
}

body {
    font-size: 110%;
    width: 100%;
    overflow-x: hidden;
    text-align: center;
    background-color: #000;
    color: whitesmoke;
}

body * {
    margin: 0;
    padding: 0;
}

#h1,
#h2,
h3,
p,
a,
.block {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}


.project_scratch {
    width: 68vw;
    height: auto;
}

#main_logo {
    height: 7vh;
}

#project_scr {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-items: auto;
}

.project_scr_IMG {
    width: 30%;
    height: auto;
}

#logo_wrapper {
    /* margin-top: -25%;
    margin-bottom: -25%; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    
    /* width: 100%;
    height: 100vw; */
    /* --side: min(100vw, 100vh); */
    height: var(--side_12);
    width: var(--side);
    /* margin-top: calc(5 * var(--s_div_50)); */
    display: flex;
    flex-wrap: wrap;

    
}

#logo div {
    margin: 0;
    padding: 0;
    width: var(--s_div_50);
    height: var(--s_div_50);
    background-color: white;
    /* transform: ; */
    /* -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;  */
}


@keyframes AIB_bx-shdw {
    0%   {
        box-shadow: 0px 0px 24px 6px white;
    }
    25%  {
        box-shadow: 0px 0px 12px 9px white;
    }
    50%  {
        box-shadow: 0px 0px 6px 12px white;
}
    100% {
        box-shadow: 0px 0px 24px 6px white;
    }
  }

  @keyframes AIB_brdr_rds {
    0%   {
        border-radius: var(--s_div_100);
        -webkit-border-radius: var(--s_div_100);
        -moz-border-radius: var(--s_div_100);
        -ms-border-radius: var(--s_div_100);
        -o-border-radius: var(--s_div_100);
}
    25%  {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
}
    50%  {
        border-radius: 0%;
        -webkit-border-radius: 0%;
        -moz-border-radius: 0%;
        -ms-border-radius: 0%;
        -o-border-radius: 0%;
}
    100% {
        border-radius: var(--s_div_100);
        -webkit-border-radius: var(--s_div_100);
        -moz-border-radius: var(--s_div_100);
        -ms-border-radius: var(--s_div_100);
        -o-border-radius: var(--s_div_100);
}
  }

.shadowed {
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-name: AIB_bx-shdw, AIB_brdr_rds;
    animation-duration: 4s, 7s;
    animation-iteration-count: infinite;
}
.main_timers {
    width: 33vw;
}

#timer,
#timer_2,
#text,
#text_2 {
    /* text-align: center; */
    /* width: 82%; */
    /* height: 6vw; */
    font-size: 150%;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    /* width: 25%; */
    /* align-items: center; */
    /* text-shadow: 1vh 1vh 1vh rgba(255, 255, 0, 1), -1vh -1vh 1vh rgba(0, 0, 255, 1), -1vh 1vh 1.5vh rgba(255, 165, 0, 1), 1vh -1vh 2vh rgb(0, 128, 0, 1); */
}


#main {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 15px 15px whitesmoke;
    background-color: rgb(49, 49, 49);
    opacity: 0.8;
}

#main * {
    color: white;
}

#main_menu * {
    font-size: 150%;
    opacity: 0.5;
}


.mirrored {
    display: block;
    transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    opacity: 0.5;
    font-size: 100%;
    text-shadow: 0 0 1vh whitesmoke;
}

@media only screen and (orientation: landscape) {

    /* #logo_wrapper {
        margin-bottom: -10%;
        margin-top: -10%;
    } */

    body {
        font-size: 110%;
        width: 100%;
        overflow-x: hidden;
        text-align: center;
    }

    #h1 {
        display: inline-block;
        text-transform: uppercase;
    }

    #h1 {
        height: 3ch;
        width: 27ch;
    }

    #h1:hover {
        height: 3.5ch;
    }

    #h2:hover,
    h3:hover,
    p:hover,
    a:hover,
    li:hover {
        display: inline-block;
        max-width: 65ch;
        color: white;
        background-color: green;
        box-shadow: 0 0 1.5rem 1rem whitesmoke;
        border: 1px solid white;
        cursor: pointer;
    }

    h3 {
        display: block;
        width: 63vw;
    }

    .cv {
        position: relative;
        max-width: 100%;
        box-shadow: inset 0 0 10px 10px whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .block {
        /* margin: 2%;
        width: 96%; */
        box-shadow: inset 0 0 10px 10px whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .phrase {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #h1:hover {
        display: inline-block;
        width: 25vw;
        color: white;
        background-color: green;
        /* box-shadow: 0 0 1.5rem 1rem green; */
        /* color: black; */
        box-shadow: inset 0 0 10px 10px green;
        cursor: pointer;
    }

    .cv #h1 {
        vertical-align: middle;
        display: flex;
        height: 1.5vw;
        margin-top: 5vh;
        align-items: center;
        justify-content: center;
    }
    /* #logo {
        margin-top: calc(5 * var(--s_div_100));
    } */
}

@media screen and (max-width: 720px) {

    body {
        font-size: 90%;
        width: 100%;
        overflow-x: hidden;
        text-align: center;
    }

    .cv {
        position: relative;
        width: 100%;
        border: inset 1px solid green;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #000;
        z-index: 5;
        max-width: 100%;
    }

    .block {
        /* margin: 1vw; */

        width: 100%;
        box-shadow: inset 0 0 10px 10px whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .phrase {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #h1 {
        display: inline-block;
        text-transform: uppercase;
    }

    #h1 {
        height: 3vw;
    }

    #h1:hover {
        height: 3.5vw;
    }

    #h1:hover {
        /* display: inline-block; */
        max-width: 25vw;
        color: white;
        background-color: green;
        box-shadow: 0 0 1.5rem 1rem green;
        border: 1px solid white;
        cursor: pointer;
    }

    #h2:hover,
    h3:hover,
    p:hover,
    a:hover,
    li:hover {
        display: inline-block;
        /* max-width: 65ch; */
        color: white;
        background-color: green;
        box-shadow: 0 0 1.5rem 1rem whitesmoke;
        border: 1px solid white;
        cursor: pointer;
    }

    .cv #h1 {
        display: flex;
        height: 1.5vw;
        margin-top: 5vh;
        align-items: center;
        justify-content: center;
    }
}

.cv * {
    font-size: 110%;
}

.cv>p:hover {
    background-color: white;
    color: black;
}

li {
    list-style: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#icons li {
    display: block;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    min-width: 11ch;
    flex-wrap: wrap;
}

#icons a {
    display: inline-block;
    display: flex;
    flex-direction: row-reverse;
    height: 10vw;
    width: 15vw;
    justify-content: center;
    align-items: center;
}

.icon {
    height: auto;
    width: 4vw;
}

a {
    text-decoration: none;
    margin: 1%;
    color: white;
    font-weight: 900;
    font-family: cursive;
}

li>a:hover {
    background-color: white;
    color: black;
    text-shadow: 0 0 0.5rem green;
    border-radius: 0.5vw;
    -webkit-border-radius: 0.5vw;
    -moz-border-radius: 0.5vw;
    -ms-border-radius: 0.5vw;
    -o-border-radius: 0.5vw;
}

img:hover {
    box-shadow: 0 0 15px 15px whitesmoke;
}

button:hover {
    box-shadow: 0 0 25px 25px salmon ;
}

p {
    display: inline-block;
    position: relative;
}

li:hover {
    color: black;
}

header p {
    display: block;
    height: 0.5;
    line-height: 0.8;
    gap: 0.5;
    margin: 0.35vw;
}

img {
    margin: 0.5%;
}

p, a {
    margin: 1%;
    padding: 1%;
}

h3 {
    display: block;
    margin-top: -0.75rem;
    /* padding-top: 2%; */
    background-color: white;
    color: #000;
    border: inset 1px solid green;
    border-radius: 0.5vw;
    -webkit-border-radius: 0.5vw;
    -moz-border-radius: 0.5vw;
    -ms-border-radius: 0.5vw;
    -o-border-radius: 0.5vw;
}

.courses {
    padding-top: 2%;
    padding-bottom: 2%;
    display: block;
    /* width: 25%; */
}



/* #logo::before {
    display: block;
    align-items: none;
    justify-content: flex-start;
    content: "*";
    color: white;
    left: 0;
    top: 0;
    right: 100%;
    position: relative;
} */